:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EEEEEE;
  color: #333333;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #9CA3AF; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #77120D; 
}